In [ ]:
print('hello world!')
print(1)
print(1.1)
x=2
print(x)

In [ ]:
hours=30
rate=12
pay=hours*rate
print(pay)

Python Variable rules

1.we can use alphabets,underscore and number  
2.we can only start the variable name with alphabet or underscore  
3.python is case sensitive

In [ ]:
x=.6
x=3.9*x*(1-x)
print(x)

operator operation  
.+&nbsp;&nbsp;&nbsp;&nbsp;Addition  
.-&nbsp;&nbsp;&nbsp;&nbsp;Subtraction  
.*&nbsp;&nbsp;&nbsp;&nbsp;Multioplication  
./&nbsp;&nbsp;&nbsp;&nbsp;Division  
.%&nbsp;&nbsp;&nbsp;&nbsp;Modulo

In [ ]:
x=2
print(x)
y=2.0
print(y)

Precedence rules  
1.Paranthsis  
2.Exponentiation  
3.Multiplication, division, remainder  
4.Addition  
5.Subtraction  
<br>
(if there are expressions of same precedence)expresoins are eveauated left to right

In [ ]:
#concatination(str+str returns a str with the concatinated string)
name='vineeth'+' Rai' 
print(name)

In [ ]:
#input section

In [ ]:
#input always returns a str value
temp=input("enter a value: ")
type(temp)

In [ ]:
i=int(input("enter a number"))
type(i)

In [ ]:
print("asd{1} dfsf{0}".format(1,2))

In [ ]:
#comments 
'''
this 
is 
a 
multi 
line 
comment
'''

In [ ]:
# different types of divisions
print(6/4)
print(6//4)

In [ ]:
#keywords
import keyword as k;
print(k.kwlist)
print(len(k.kwlist))

### Logical expressions

### Boolean Expressions

* x==y `>`true if x is equal to y
* x!=y `>`true if x is not equal to y
* x>y  `>`
* x<y  `>`
* x>=y `>`
* x<=y `>`

### Conditional Execution  

Simple if  
```python
if(true):
    print("hi")
```
if elif else
```python
if(false):
    print('high')
elif(true):
    print('low')
else:
    print('invalid')
```

In [ ]:
rate = int(input("enter hourly rate: "))
hour =  int(input("enter no of hours: "))
pay = hour*rate
print(pay)

## Try and except  
It is used to detect runtime faults in the code  
```python
try:
    #faulty code
except:
    #error message
    #error correction
```

In [ ]:
try:
    rate = int(input("enter hourly rate: "))
    hour =  int(input("enter no of hours: "))
    pay = hour*rate
    print(pay)
except:
    print('please enter integer values only')

In [ ]:
#Off topic
import sys
lst = ['b',0,2,3,5,5.2]
for entry in lst:
    try:
        print("The entry is:", entry)
        r=1/int(entry)
        print("the reciprocal of", entry, "is", r)
        print("&&&****************&&&")
    except:
        print("oops", sys.exc_info()[0],"occured.")
        print("&&&****************&&&")

In [ ]:
import sys
lst=['b',0,2]
for entry in lst:
    try:
        print("The entry is:", entry)
        r=1/int(entry)
    except:
        print('Entry is not a number')
    except:
        print('Zero Division error')

### Homework
#### 1. Rewrite pay computation program to give the employee 2 times the hourly rate for hours worked above 40 hrs  
#### 2. Rewrite the program using try and accept so that the program can handle the non numeric inputs gracefully

In [ ]:
#Homework 1

hour =  int(input("enter no of hours: "))
rate = int(input("enter hourly rate: "))

if(hour>40):
    pay=2*rate*hour
else:
    pay=rate*hour
    
print(pay)

In [ ]:
#Homework 2

while True:
    try:
        value =  int(input("enter a integer you want take square of: "))
        break
    except:
        print("Please enter integer value only")

square=value*value
print("The qube of {} is {}".format(value,square))

In [ ]:
x=6
y=2
x>=2 and (x/y)>2

In [ ]:
x=1
y=0
x>=2 and (x/y)>2

In [ ]:
x=6
y=0
x>=2 and (x/y)>2

> ** Note: ** In 'and' opperation if first condition is false then compailer wont check for second condition oer any preseding condition  
>same with 'or' if first value is true then second statement wont be exicuted

In [ ]:
#solution

x=6
y=0
x>=2 and (y!=0) and (x/y)>2

## User defined functions

syntax:  
  
  > def function_name(parameters):
  > 
  > '''  
  > Doc string  
  > '''  
  >   Statements

In [ ]:
#example1

def add(a,b):
    '''
    just adds 2 numbers
    '''
    return a+b

print(add(10,11))

In [ ]:
#example2

def greet(name):                #function defination
    '''
    just prints input with greetings
    '''
    print("Hello {} !how are you".format(name))
    
    
string="vrk"
greet(string)                  #function call

greet("Vineeth")               #function call

print(greet.__doc__)

In [ ]:
#example with bacword compatiblity
#non-default argument should not follows default argument

def greet(name, msg="how do you do?"):                #function defination
    '''
    just prints input with greetings
    '''
    print("Hello {0} !{1}".format(name,msg))
    
    
string="vrk"
greet(string)                  #function call

greet("Vineeth")               #function call

#print(greet.__doc__) 

greet("vrk","why dont you die")

## While Loop in Python

Syntax:  
> While expression:  
> &emsp;body of while

In [ ]:
#example of while loop
n=5
while n>0:
    print(n)
    n=n-1
print('tata bye bye')

In [ ]:
#example of infinite loop
n=0
while False:
    print(n,end=' ')
    n=n+1

In [ ]:
# example of infinite loop but with a otion to break the loop
while True:
    line=input('> ')
    if(line=='done'):
        break
    print(line)
print('Done!')

In [ ]:
while True:
    line=input('cmd> ')
    if(line=='done'):
        break
    elif(line=='name'):
        line=input('enter your name> ')
        print('{}, thank you for opting my software')
    print(line)
print('Done!')

In [ ]:
#usage of Continue inside loop
while True:
    line=input('cmd> ')
    if(line[0]=='#'):
        continue
    elif(line=='done'):
        line='#'
        break
    elif(line=='name'):
        line=input('enter your name> ')
        print("{} , thank you for opting my software".format(line))
    else:
        print(line)
print('Done!')

In [ ]:
#using while to add number in side a list

list1=[10,78,32,45]
sum=0
index=0
while index<len(list1):
    print(index,"->",list1[index])
    sum+=list1[index]
    index+=1
print("sum =",sum)

## For Loop in Python

Syntax:  
> for element in elements:  
> &emsp;operation on element

In [ ]:
#far loop to find product 
lst=[1,2,1,3,1]
product=1
for item in lst:
    product*=item
print("product of numbers in the list containing {} elements is {}".format(len(lst),product))

In [ ]:
#to find the no of elements in a list using for
lst=[5,8,6,9,7,1,3,4,8]
count=0
for i in lst:
    count+=1
print("no of elements",count)

In [ ]:
#find the largest no in a list
lst=[1,7,4,2,8,6,90,7,21,5,6,8,78,1,48,75,84]
largest=lst[0]
for ele in lst:
    if(largest<ele):
        largest=ele
print("largest in the list is",largest)

In [ ]:
#counting occarence of given element
l=list(map(int,input().split(" ")))
a=int(input())
count=0
for i in l:
    if i==a:
        count+=1
print(count)

In [ ]:
#function "range" which can be used to get a sequence of numbers 
for i in range(10):
    print(i, end=" ")

In [ ]:
for i in range(1,10):
    print(i,end=" ")

In [ ]:
for i in range(0,10,2):
    print(i,end=" ")

In [ ]:
for i in range(10,0,-1):
    print(i,end=" ")

In [ ]:
friends=["elspo","baro","nestiyan","lepros"]
for index in range(len(friends)):
    print(index,friends[index])

In [ ]:
friends=["elspo","baro","nestiyan","lepros"]
for index in range(len(friends)):
    print(" {}->{} ".format(index,friends[index]),end="|*|")

In [ ]:
#for else example
friends=["elspo","baro","nestiyan","lepros"]

for index in range(len(friends)):
    print(index,friends[index])
else: 
    print('done!')

In [ ]:
for i in range(10):
    if(i>5):
        break
    print(i)
else:
    print("Done!")

In [ ]:
    num=1
    for i in range(2,(num//2)+1):
        if(num<3):
            print("cant determine prime");
            break
        if((num%i)==0):
            print("the number is not prime")
            break
    else:
        print("given number is prime")

In [ ]:
#code for fun
from IPython.display import clear_output

while True:
    clear_output(wait=True)
    num=int(input("enter a int:"))
    for i in range(2,(num//2)+1):
        if((num%i)==0):
            print(num,"%",i,"== 0\n")
            print("the number is not prime")
            break
        else:
            print(num,"%",i,"!= 0")
    else:
        print("given number is prime")

In [ ]:
#prime function for ranged input
l=[20,3,7,68,45,9]
for num in l:
    for i in range(2,(num//2)+1):
        if(num<3):
            print(num,"\t->\tUnknown")
            break
        if((num%i)==0):
            print(num,"\t->\tnot prime")
            break
    else:
        print(num,"\t->\tprime")

In [ ]:
#for a range() of values

for num in range(-20,31):
    for i in range(2,(num//2)+1):
        if(num<=3):
            print(num,"\t->\tUnknown")
            break
        if((num%i)==0):
            print(num,"\t->\tnot prime")
            break
    else:
        if(num<3):
            print(num,"\t->\tunknown")
        else:
            print(num,"\t->\tprime")

In [ ]:
#homework python for everyone 
#chapter 5 excericice
sum=0
count=0
temp=0
while True:
    ip=input("Enter a number:")
    if(ip=='Done' or ip == 'done'):
        if(count==0):
            print(sum,count,'0')
        else:
            print(int(sum),count,sum/count)
        break
    try:
        temp=float(ip)
    except:
        print("Invalid input")
        continue
    sum+=temp
    count+=1

## Strings 

example:  
```python
fruit="banana"
```

In [ ]:
fruit='banana'
print(len(fruit))
print(fruit[1])

In [ ]:
#few tests on string

fruit='banana'
l=len(fruit)
#print(fruit[l])

"""
for ch in fruit:
    print(ch)
"""
index=0;
while index<len(fruit):
    print(fruit[index])
    index+=1

In [18]:
#write a python program that loops through each letter of string and counts the number of time loop encounters 'a' charector
var='xdktgzjijsdfgzahdahiufjadfshaaiaidajoidhao'
count=0
for ch in var:
    if(ch=="j"):
        count+=1
print(count)

4

In [35]:
# slicing strings

var =  "naveen shenoy"
print(var[0:4])
print(var[6:8])
print(var[:6])
print(var[5:])

nave
 s
naveen
n shenoy

In [37]:
# concatination

fruit="banana"
act="eat"
print(act+" "+fruit)

eat banana

In [41]:
# "in "
fruit = "banana"
print("n" in fruit)
print("m" in fruit)
print("nan" in fruit)

True
False
True

In [52]:
fruit="a"
test='ab'
if fruit>test:
    print(fruit+" comes after "+test)
elif fruit<test:
    print(fruit+" comes before "+test)
else:
    print(fruit+" is "+test)

a comes before ab